
<div class="top-picture" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')"></div>
<div class="container margin-top-negative" >
  <div class="row">
    <div class="col-12">
      <div class="cocktail-show-card">
        <h1 class ="justify-content-center"><%= @cocktail.name.capitalize %></h1>
      </div>
      <div class="cocktail-show-card">
        <h3>How to make this Boozy dessert</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <div class = "dose-list">
              <li><%= dose.description %> <%= dose.ingredient.name %> </li><%= link_to "(delete)", dose_path(dose), method: :delete, data: { confirm: "Sure ?" }, class: 'ml-3' %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
    <%= link_to cocktail_path(@cocktail), method: :delete do %>
      <i class="fas fa-trash-alt" style = "position:absolute"></i>
    <% end %>
  </div>
</div>


<div class="container" style = "color: #3C1E13" >
  <h3>Add doses</h3>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: "btn btn-ghost mb-3" %>
  <% end %>


  <%= link_to cocktails_path do %>
    <p><i class="fas fa-undo-alt"></i></i> Back to list</p>
  <% end %>


</div>

